body {
    font-size: 1.2rem;
     background-color: black;
    overflow-x: hidden;
}

.menu span {
    color: #ffffff;
    transition: all .3s ease-in-out;
    margin: 2px;
}

#idioma {
    display: flex;
    margin-right: 20px;
}

#idioma:hover {
    cursor: pointer;
}

#iconoIng:hover {
    color: #FFC05A;
    transform: scale(1.3);
}

#iconoEsp:hover {
    color: #FFC05A;
    transform: scale(1.3);
}

.oculta {
    display: none;
}




li a:hover {
    color: #eebb31;

}

nav,
ul,
li,
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size:14px;
    font-weight: bold;
    font-family: inter;

}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    
}

@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
    }

    @font-face {
    font-family: inter;
    src: url(../fnts/Inter-Regular.ttf);
}
}


.contenedor nav ul{
    display: flex;
    gap: 15px;
}




.contenedor nav ul li {
    list-style: none;
}

@media( min-width:768px){
 .contenedor nav ul li {
    list-style: none;
    margin-left: 10%;
}
}


.linea-dorada {
    width: 200%;
    border-bottom: 2px solid gold ;
}

main {
    margin-top: 10px;
    width: 100%;
}
@media (min-width: 768px) {
    main {
        grid-column: 1/2;
    }
}

main video {
    width: 100%;
    height: 100%;
    
}


.recuadro-mostaza {
    
background-color: #eebb31;
border: 3px solid white;
}

@media(min-width:768px){
  .recuadro-mostaza {
    
background-color: #eebb31;
border: 3px solid white;
padding: 45px;
height: 80%;
}  
}

.cervezas {
    background-color: #eebb31;
}
.tapas{
    background-color: #eebb31;
}
  .cervezas:hover, .tapas:hover {
    background-color: #000000;  
    transform: scale(1.05);    
  }

img{
  width: 0%;  
}

.pie-pagina {
  width: 120%;           
  height: 110px;        
  background: white;         
  border: 1px solid #ffffff; 
  margin-top: 20%;
}
img{
  width: 50%;
  margin-top: 4%; 
  margin-left: 30%; 
}


 
@media(min-width:768px){
 .cervezas, .tapas {
    display: inline-block; 
    background-color: #eebb31;
    text-align: center;
    width: 150px;
    padding: 25px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s; 
  }

  
  .cervezas:hover, .tapas:hover {
    background-color: #000000;  
    transform: scale(1.05);    
  }

.pie-pagina {
  width: 110%;           
  height: 180px;        
  background: white;         
  border: 1px solid #ffffff; 
  margin-top: 6%;
}
img{
  width: 20%;
  margin-top: 2%; 
  margin-left: 40%; 
}

}


