

.menu span {
    color: #ffffff;
    transition: all .3s ease-in-out;
    margin: 2px;
}

#idioma {
    display: flex;
    margin-right: 20px;
}

#idioma:hover {
    cursor: pointer;
}

#iconoIng:hover {
    color: #FFC05A;
    transform: scale(1.3);
}

#iconoEsp:hover {
    color: #FFC05A;
    transform: scale(1.3);
}

.oculta {
    display: none;
}




li a:hover {
    color: #eebb31;

}

nav,
ul,
li,
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size:14px;
    font-weight: bold;
    font-family: inter;

}

body{
    background-color: black;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    
}

@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: 1fr 1fr;
    }

    @font-face {
    font-family: inter;
    src: url(../fnts/Inter-Regular.ttf);
}
}


.contenedor nav ul{
    display: flex;
    gap: 15px;
}




.contenedor nav ul li {
    list-style: none;
}

@media( min-width:768px){
 .contenedor nav ul li {
    list-style: none;
    margin-left: 10%;
}
}


.linea-dorada {
    border-bottom: 2px solid gold ;
}

main {
    margin-top: 10px;
    width: 100%;
}
@media (min-width: 768px) {
    main {
        grid-column: 1/2;
    }
}

main video {
    width: 100%;
}


.recuadro-mostaza {
    
background-color: #eebb31;
border: 3px solid white;
}

@media(min-width:768px){
  .recuadro-mostaza {
    
background-color: #eebb31;
border: 3px solid white;
padding: 45px;
}  
}

.cervezas {
    background-color: #eebb31;
}
.tapas{
    background-color: #eebb31;
}
 